<div class="resultsTableContainer container-fluid">
    <div class="title row bg-primary text-white pt-2">
        <div class="col-sm-8">
            <h2>Tournament 101 - Final Results</h2>
        </div>
        <div class="col-sm-4 text-right">
            <form class="form-inline">
                <div class="form-group flex-grow-1">
                    <label for="search">Search</label>
                    <input type="text" id="search" ng-model="vm.searchQuery" ng-change="vm.loadData()"
                           placeholder="Player id, name, level or score"
                           class="form-control ml-sm-3 flex-grow-2">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover resultsTableHeader">
            <thead>
            <tr class="bg-primary text-white d-flex">
                <th class="col-sm-1 vertical-align-middle" ng-click="vm.orderBy('id')">
                    <div class="d-inline-block">#</div>
                    <i ng-class="{'fa-chevron-up': vm.orders['id'] == 1, 'fa-chevron-down': vm.orders['id'] == -1}" class="fa float-right"></i>
                </th>
                <th class="col-sm-4 vertical-align-middle" ng-click="vm.orderBy('name')">
                    <div class="d-inline-block">Name </div>
                    <i ng-class="{'fa-chevron-up': vm.orders['name'] == 1, 'fa-chevron-down': vm.orders['name'] == -1}" class="fa float-right"></i>
                </th>
                <th class="col-sm-5 no-cursor">
                    <div class="d-inline-block">Level</div>
                    <select class="custom-select d-inline ml-2 text-capitalize" ng-options="level for level in vm.levels"
                            ng-model="vm.selectedLevel" ng-change="vm.loadData()">
                        <option value="">Filter level</option>
                    </select>
                </th>
                <th class="col-sm-2 vertical-align-middle" ng-click="vm.orderBy('score')">
                    <div class="d-inline-block">Score</div>
                    <i ng-class="{'fa-chevron-up': vm.orders['score'] == 1, 'fa-chevron-down': vm.orders['score'] == -1}" class="fa float-right"></i>
                </th>
            </tr>
            </thead>
        </table>
        <table class="table table-hover resultsTable">
            <tbody>
            <tr ng-repeat="row in vm.rows" class="d-flex" data-tooltip="Suspect of cheating" ng-class="{'bg-danger text-white suspect': row.isSuspect}">
                <td class="col-sm-1" ng-bind-html="row['id'] | highlight: vm.searchQuery"></td>
                <td class="col-sm-4 text-capitalize" ng-bind-html="row['name'] | highlight: vm.searchQuery"></td>
                <td class="col-sm-5 text-capitalize" ng-bind-html="row['level'] | highlight: vm.searchQuery"></td>
                <td class="col-sm-2" ng-bind-html="row['score'] | highlight: vm.searchQuery"></td>
            </tr>
            <tr ng-if="vm.rows.length == 0">
                <td colspan="4" class="alert alert-light text-center">
                    No results for <strong><i>"{{ vm.searchQuery }}"</i></strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footer d-flex">
        <div class="col-sm-6 text-left">
            <small>Showing
                <select class="d-inline" ng-model="vm.pageSize"
                        ng-options="results as results for results in vm.resultsOptions"
                        ng-change="vm.setPageSize(vm.pageSize)"></select>
                results of {{ vm.totalPlayers }} entries
            </small>
        </div>
        <div class="col-sm-6 float-right">
            <pagination set-page="vm.setPage(page)" pager="vm.pager"></pagination>
        </div>
    </div>
</div>