<div class="resultsTableContainer container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Tournament Results</h2>
        </div>
        <div class="col-sm-4 text-right">
            <form class="form-inline">
                <div class="form-group">
                    <label for="search">Search</label>
                    <input type="text" id="search" ng-model="vm.searchQuery" placeholder="Player id, name, level or score"
                           class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in vm.rows | filter: vm.searchQuery" ng-class="{'suspect': row.isSuspect}">
                <td ng-bind-html="row['id'] | highlight: vm.searchQuery"></td>
                <td ng-bind-html="row['name'] | highlight: vm.searchQuery"></td>
                <td ng-bind-html="row['level'] | highlight: vm.searchQuery"></td>
                <td ng-bind-html="row['score'] | highlight: vm.searchQuery"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-6 text-left">
            <small>Showing {{ vm.rows.length }} results</small>
        </div>
        <div class="col-sm-6 float-right">
            <pagination></pagination>
        </div>
    </div>
</div>